.logo-navbar{
    width: 80vw;
}
.logo-uba-home{
    width: 95vw;
}
.icon-card{
    width: 50%;
    font-size: 60px;
    color:#000000;
}
.breadcrumb-color{
    background-color: #FFFFFF;
}
.card-facultie{
    width: 20rem;
}
.card-contorno{
    border:0;
    color:#000000;
    font-weight: bolder;
    text-transform: uppercase;
}
.card-contorno:hover{
    background-color: #f8f9fa;
    color:#000000;
}
button:hover{
    text-decoration: underline;
}
.card-platform{
    width: 12rem;
}
.card-home{
    width: 15rem;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.img-table-platforms{
    width: 4rem;
}
.img-table-faculties{
    height: 2rem;
}
.img-platform-modal{
    height: 14rem;
}
.img-faculties-modal{
    width: 6rem;
}
.img-faculty-show-edit{
    max-width: 20rem;
}
.img-platform-show-edit{
    max-width: 12rem;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
.disableEnableButton{
    cursor: pointer;
}
.switch {
    display: inline-block;
    height: 14px;
    position: relative;
    width: 28px;
    top:6px;
}
  
.switch input {
    display:none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 10px;
    height: 10px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
@media (min-width:480px){
    .logo-navbar{
        width: auto;
        height: 90px;
    }
    .logo-uba-home{
        width: auto;
        height: 25vh;
    }
}